.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.idea/
.rvmrc
.project
*.swp
doc/
.yardoc/
.env
public/uploads/*
Procfile.dev
public/documentation/
.ruby-gemset
.env
config/database.yml
config/mongoid.yml
# Ignore application configuration
/config/application.yml
coverage/*
config/deploy/production.pem
