<!DOCTYPE html>
<html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
      El synch de Mailchimp falló por el siguiente motivo: <%= @error_message %>
    </body>
</html>
